<!-- <div class="chart-container">
  <canvas baseChart
    [data]="barChartData"
    [options]="barChartOptions"
    chartType="bar">
  </canvas>
</div>
 -->

<ion-card>
  <ion-card-header>
    <ion-card-title>Risk Score by Categories</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <canvas id="riskChart"></canvas>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Overall Risk Score</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas style="max-height: 180px;" id="overAllriskChart"></canvas>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-card>
